<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Spring Boot Thymeleaf</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>

<main role="main" class="container">
  <div class="starter-template">
    <h3>Spring Boot Thymeleaf</h3>
  </div>

  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td><span th:text="${user.name}">Name</span></td>
      <td><span th:text="${user.role}">Role</span></td>
    </tr>
    </tbody>
  </table>

</main>

</body>
</html>
